
:root {
    --maxContentWidth: 1000px;
    --gradient: linear-gradient(-228deg, #045BA8, #1582D4);
    --theme-ui-colors-black: #000;
    --theme-ui-colors-gray3: #cfcfcf;
    --theme-ui-colors-gray1: #ededed;
    --theme-ui-colors-gray4: #8C8C88;

}


.css-q41tqn {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    background-color: var(--theme-ui-colors-black);
    color: var(--theme-ui-colors-gray1);
}


.css-1rscds9 {
    max-width: var(--maxContentWidth);
    margin-left: auto;
    margin-right: auto;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 32px;
    padding-right: 32px;
}

@media print {
    body {
        color: var(--theme-ui-colors-black)!important;
        background-color: var(--theme-ui-colors-black)!important;
    }

    main a::after,footer a::after {
        content: " (" attr(href) ")";
    }
}

.css-1b40x7f {
    margin-top: 0;
    margin-bottom: 32px;
    padding-left: 0;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    list-style-type: none;
}

@media print {
    .css-1b40x7f {
        display: none;
    }
}


.css-4o5y71 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: grid;
    grid-gap: 16px;
    margin-top: 0;
    margin-bottom: 32px;
    padding-left: 0;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    list-style-type: none;
}

@media print {
    .css-4o5y71 {
        display: none;
    }
}


 .css-16ilj6a {
     margin-bottom: 32px;
 }



.css-138yxp1 {
    padding-top: 0;
    padding-bottom: 8px;
    display: block;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: var(--theme-ui-colors-gray3);
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

@media screen and (min-width: 40em) {
    .css-138yxp1 {
        padding-bottom:4px;
    }
}

.css-138yxp1:hover,.css-138yxp1:focus {
    -webkit-text-decoration: underline;
    text-decoration: underline;
}



.css-1rxzsrh {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}



.css-16v8fgb {
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
                                   }

@media screen and (min-width: 40em) {
    .css-16v8fgb {
        padding-top:4px;
        padding-bottom: 4px;
    }
}

.css-16v8fgb:hover,.css-16v8fgb:focus {
    -webkit-text-decoration: underline;
    text-decoration: underline;
}




.css-c6f14a {
    margin-bottom: 8px;
    padding-top: 0;
    padding-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--theme-ui-colors-gray3);
                                  }

@media screen and (min-width: 40em) {
    .css-c6f14a {
        padding-bottom:4px;
    }
}

.css-105cdjh {
    border-top: 1px solid;
    border-top-color: var(--theme-ui-colors-gray3);
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: inherit;
}



.css-1b0fgd4 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid;
    border-top-color: var(--theme-ui-colors-gray3);
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: inherit;
}

.css-n8ggt8 {
    font-size: 14px;
}

@media screen and (min-width: 40em) {
    .css-n8ggt8 {
        font-size:16px;
    }
}

.css-1vef6j {
    color: inherit;
}

.css-124v1g0 {
    margin-right: -8px;
    -webkit-flex: 128px 0 0;
    -ms-flex: 128px 0 0;
    flex: 128px 0 0;
}

@media print {
    .css-124v1g0 {
        display: none;
    }
}

.css-lsed3c {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: -8px;
    -webkit-flex: 128px 0 0;
    -ms-flex: 128px 0 0;
    flex: 128px 0 0;
}

@media print {
    .css-lsed3c {
        display: none;
    }
}

.css-1e79s7r {
    width: 40px;
    height: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0.8;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
}

.css-1e79s7r:hover,.css-1e79s7r:focus {
    opacity: 1;
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.css-hg7pd4 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0.8;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
}

.css-hg7pd4:hover,.css-hg7pd4:focus {
    opacity: 1;
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.css-8iwup0 {
    width: 26px;
    height: 26px;
}

.css-1skxuzk {
    fill: rgba(255, 255, 255, 0.2);
}

.css-1hdkh9v {
    fill: var(--theme-ui-colors-gray1);
}

.css-1rx0i0o {
    width: 40px;
    height: 40px;
    margin-left: 4px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0.8;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
                                   }

.css-1rx0i0o:hover,.css-1rx0i0o:focus {
    opacity: 1;
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.css-boix9n {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 40px;
    margin-left: 4px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0.8;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
}

.css-boix9n:hover,.css-boix9n:focus {
    opacity: 1;
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.css-1ifhear {
    width: 24px;
    height: 24px;
}

.css-7nicv7 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: var(--theme-ui-colors-gray4);
}

.css-1lkklub {
    margin-top: 0;
}

.css-f2kk04 {
    margin-bottom: 0;
    text-align: justify;
}